In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

### csv-Datei einlesen

In [ ]:
df = pd.read_csv("AB_NYC_2019.csv")

In [ ]:

df=pd.read_csv("AB_NYC_2019_CLEAN.csv")
dfCompl=pd.read_csv("NYPD_Complaint_Map__Year_to_Date.csv")
dfsq=pd.read_csv('census_block_loc.csv')

dfsquirrel=pd.read_csv('2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')

# 1. Data Understanding

In [ ]:
# Get datatypes of dataset
df.dtypes

In [ ]:
# More metadata of Dataset in addition to the matadata on Kaggle
df.describe()

# 2. Data Cleaning

In [ ]:
# Null-Werte finden
df.isna().sum()

Spalte 'last_review' als Datetime-Objekt parsen

In [ ]:
# col: last_review to datetime
df["last_review"] = pd.to_datetime(df["last_review"])

Null-Werte aus der Spalte 'name' entfernen und in der Spalte 'reviews_per_month' mit Nullen auffüllen

In [ ]:
# Drop NaN from Col: name / replace NaN from Col: reviews_per_month
df = df.dropna(subset=["name"])
df["reviews_per_month"]=df["reviews_per_month"].fillna(0)

Bereinigtes Daten-Set in eine neue csv-Datei schreiben

In [ ]:
# export data to new CSV
df.to_csv("AB_NYC_2019_CLEAN.csv")

# 3. Datenvisualisierung

In [2]:
df = pd.read_csv("AB_NYC_2019_CLEAN.csv")

### Einige beispielhafte 'Group By'-Abfragen

Berechnen des durchschnittlichen Preises und die Anzahl der Preise, die für die Berechnung einbezogen wurden gruppiert nach den Spalten 'neighbourhood_group' und 'neighbourhood'.

In [13]:
df.groupby(['neighbourhood_group','neighbourhood']).agg({'price' : ['mean','count']}).round(decimals=2).sort_values(("price","mean"),ascending=False)

                                     price
                                      mean count
neighbourhood_group neighbourhood
Staten Island       Fort Wadsworth  800.00     1
                    Woodrow         700.00     1
Manhattan           Tribeca         490.64   177
Brooklyn            Sea Gate        487.86     7
Bronx               Riverdale       442.09    11
...                                    ...   ...
Staten Island       New Dorp         57.00     1
Bronx               Soundview        53.47    15
                    Tremont          51.55    11
                    Hunts Point      50.50    18
Staten Island       Bull's Head      47.33     6

[221 rows x 2 columns]

Berechnen der durchschnittlichen Anzahl an Reviews pro Monat für jeden Anbieter.

In [14]:
df.groupby('host_name')[['reviews_per_month']].mean().round(decimals=2).sort_values('reviews_per_month', ascending=False)

           reviews_per_month
host_name
Nalicia                18.13
Dona                   13.99
Aisling                13.42
Malini                 13.15
Anabell                12.99
...                      ...
Chin-Feng               0.00
Sujatha                 0.00
Suhail                  0.00
Jaxyn                   0.00
현선                      0.00

[11450 rows x 1 columns]

Anzahl der Reviews gruppiert nach dem Anbieter.

In [16]:
df.groupby('host_name')[['number_of_reviews']].count().sort_values('number_of_reviews', ascending=False).head(10)

              number_of_reviews
host_name
Michael                     417
David                       403
Sonder (NYC)                327
John                        294
Alex                        279
Blueground                  232
Sarah                       227
Daniel                      226
Jessica                     205
Maria                       204

Berechnen des durchschnittlichen Preis, der Standardabweichung sowie maximaler und minimaler Preis und Anzahl der in die Berechnung eingeflossenen Preise pro 'room_type'.

In [18]:
df.groupby('room_type').agg({'price' : ['mean', 'std', 'count', 'min', 'max']}).round(decimals=2).sort_values(('price', 'mean'), ascending=False)

                  price
                   mean     std  count min    max
room_type
Entire home/apt  211.79  284.08  25402   0  10000
Private room      89.79  160.23  22318   0  10000
Shared room       70.08  101.75   1159   0   1800

### Graphische Visualisierung einiger Abfragen

In [ ]:
df=pd.read_csv("AB_NYC_2019_CLEAN.csv")
dfCompl=pd.read_csv("NYPD_Complaint_Map__Year_to_Date.csv")
dfsq=pd.read_csv("census_block_loc.csv")

Scatter-Map für New York erstellt

In [ ]:
# Heat map of Listings
# read Img
img1 = plt.imread("NYC_Updated.jpg")
fig1=plt.figure()
ax1=fig1.add_axes([0,0,1,1])

# plot Data Points
ax1.scatter(df["longitude"],df["latitude"],s=df["price"]/100)

# Graph axes dimentions for img 
ext1=[-74.24442, -73.71299, 40.49979,40.91306]

# plot img in background 
ax1.imshow(img1,extent=ext1)

In [ ]:
# Heat map of Listings
# read Img
img2 = plt.imread("NYC_Updated.jpg")
fig2=plt.figure()
ax2=fig2.add_axes([0,0,1,1])

# plot Data Points
df2_nei=df.groupby(["neighbourhood"]).agg({"price" : "mean", "longitude" : "mean", "latitude" : "mean", "neighbourhood_group" : "count"})
ax2.scatter(df2_nei["longitude"],df2_nei["latitude"],s=df2_nei["neighbourhood_group"]/10)

# Graph axes dimentions for img 
ext2=[-74.24442, -73.71299, 40.49979,40.91306]

# plot img in background 
ax2.imshow(img2,extent=ext2)

In [ ]:
# Heat map of complaints
img = plt.imread("NYC_Updated.jpg")
fig=plt.figure()
ax=fig.add_axes([0,0,1,1])

# plot Data Points
ax.scatter(dfCompl["Longitude"],dfCompl["Latitude"],s=0.7)

# Graph axes dimentions for img 
ext=[-74.24442, -73.71299, 40.49979,40.91306]

# plot img in background 
ax.imshow(img,extent=ext)

In [ ]:
# Heat map of complaints
img = plt.imread("NYC_Updated.jpg")
fig=plt.figure()
ax=fig.add_axes([0,0,1,1])

dfCompl_gr=dfCompl.groupby(['BORO_NM']).agg({'Longitude':'mean','Latitude':'mean','CMPLNT_NUM':'count'})

# plot Data Points
ax.scatter(dfCompl_gr["Longitude"],dfCompl_gr["Latitude"],s=dfCompl_gr["CMPLNT_NUM"]/10)

# Graph axes dimentions for img 
ext=[-74.24442, -73.71299, 40.49979,40.91306]

# plot img in background 
ax.imshow(img,extent=ext)

In [ ]:
# mean Price grouped by neighbourhood
df_hist1=df.groupby(['neighbourhood_group']).agg({'price':['mean']}).sort_values(("price","mean"),ascending=False)
df_hist1.plot(kind='bar')

In [ ]:
# count of listings grouped by neighbourhood
df_hist2=df.groupby(['neighbourhood_group']).agg({'price':['count']}).sort_values(("price","count"),ascending=False)
df_hist1.plot(kind='bar')

In [ ]:
# mean prices in Manhatans neighbourhoods
fig, ax = plt.subplots(figsize=(20,5))
df_manhatan_prices=df[df['neighbourhood_group']=='Manhattan'].groupby('neighbourhood').price.mean()
df_manhatan_prices.plot(kind='bar',ax=ax)

In [ ]:
# mean price by neighbourhood amd room type
fig, ax = plt.subplots(figsize=(20,5))
df.groupby(['neighbourhood_group','room_type']).price.mean().unstack().plot(kind='bar',ax=ax)

In [ ]:
# count of complaints by Neighbourhood
dfComG=dfCompl.groupby(['BORO_NM']).CMPLNT_NUM.count().plot(kind='bar')